<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Success</title>

<style>
body{
    font-family:Arial;
    text-align:center;
    margin-top:100px;
}

h1{
    color:green;
}

a{
    font-size:18px;
}
</style>

<script>

    // If page is refreshed, go to empty form
    if (performance.navigation.type == 1) {
        window.location.href = "/";
    }

</script>

</head>

<body>

<h1>Form Submitted Successfully 🎉</h1>

<h3>Thank You For Sharing Your Information</h3>

<br>

<a href="/">Fill Another Form</a>

</body>
</html>